<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Segmentation</title>
</head>

<body background="https://www.imf.org/external/pubs/ft/fandd/2020/03/images/032020/picture-1600.jpg" text="black">

<div class="login">
    <center><h1>Customer Segmentation</h1></center>
    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('predict')}}" method="post">
        <h1>Please enter the following details</h1>
    <br>
    <!---<label>ID:</label>
    <input type="number" min="1" max="999999999" name="ID" placeholder="ID" required="required"/><br>-->
    <br> <label for="Sex">Sex:</label>
    <select id="Sex" name="Sex">
        <option value=0>Female</option>
        <option value=1>Male</option>
    </select> <br>
    <br><label for="Marital status">Marital status:</label>
    <select id="Marital status" name="Marital status">
        <option value=0>Single</option>
        <option value=1>Married</option>
    </select><br>
    <br> <label>Age:</label>
    <input type="number" min="20" max="80" name="Age" placeholder="Age" required="required"/><br>
    <br>
    <label>Education:</label>
    <input type="number" min="1" max="3" name="Education" placeholder="Education" required="required"/><br>

    <br><label>Income:</label>
    <input type="number" min="5000" name="Income" placeholder="Income" required="required"/><br>

    <br> <label for="Occupation">Occupation:</label>
    <select id="Occupation" name="Occupation">
        <option value=0>Not Working</option>
        <option value=1>Working</option>
        <option value=2>Business</option>
    </select> <br>

    <br> <label for="Settlement size">Settlement size:</label>
    <select id="Settlement size" name="Settlement size">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
    </select> <br>

    <br>
    <button type="submit" class="btn btn-primary btn-block btn-large" style="height:30px;width:200px">Predict</button>
</form>

    <br>
    <br>
    {{ prediction_text }}
    <br>

</div>
</body>
</html>
